<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <!-- Software dev -->
      <package id="git" />

      <package id="starship" />

      <package id="winfetch" />

      <package id="nerdfont-hack" />

      <package id="lazygit" />

      <package id="ripgrep" />
     
      <package id="fd" />

      <package id="neovim" />

      <package id="vscode" />

      <!-- Programming Languages -->
      <package id="zig" /> 

      <!-- Programs -->
      <package id="vlc" /> 

      <package id="powertoys" />  

      <package id="7zip" />
    </packages>
